<div>
<%= form_tag( "/gzsl/ui/#{@output_format}", id: "form", method: "post" ){ %>
  <table>
    <tr><td><%= text_field_tag( :gzsl_url, "", placeholder: "GZSL URL" ) %></td></tr>
    <tr><%= render "ui/direction_view" %></tr>
  </table>
<% } %>
</div>
