<div>
<%= form_tag( "/gzsl/view.#{@view_format}", id: "form", method: "post" ){ %>
  <%= hidden_field_tag( :data ) %>
  <%= file_field_tag( :local_file, accept: ".gzsl" ) %>
  <%= submit_tag( "Upload", id: "upload", disabled: true ) %>
<% } %>
</div>
