<div><h2>
<% @routes.each{|route| %>
  <% if "GET" == route[ :method ] %>
    <div><%= route[ :method ] %> <%= link_to route[ :rule ], :controller => route[ :path ][ 0 ], :action => route[ :path ][ 1 ] %></div>
  <% else %>
    <div><%= route[ :method ] %> <%= route[ :rule ] %></div>
  <% end %>
  <br>
<% } %>
</h2></div>
