<div><h2>
<% @routes.each{|route| %>
  <% if "GET" == route[ :method ] %>
    <div><%= route[ :method ] %> <%= link_to route[ :path ], route[ :path ] %></div>
  <% else %>
    <div><%= route[ :method ] %> <%= route[ :path ] %></div>
  <% end %>
  <br>
<% } %>
</h2></div>
