/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require slick
 *= require slick-theme
 */

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.center {
  text-align: center;
}

input {
  height: 30px;
}

input[type="submit"] {
  border-radius: 30px;
  padding: 10px 30px 25px 30px;
}

.switch {
  position: relative;
  height: 40px;
  width: 300px;
}

.switch input[type="radio"] {
  display: none;
}

.switch label {
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  text-align: center;
  line-height: 36px;
  border: 2px solid #808080;
  font-weight: bold;
}

.switch_left + label {
  right: 50%;
  border-right: none;
  border-radius: 6px 0 0 6px;
  background: #f5f5f5;
  color: #444444;
}

.switch_left:checked + label {
  background: #4169e1;
  color: #ffffff;
}

.switch_right + label {
  left: 50%;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background: #f5f5f5;
  color: #444444;
}

.switch_right:checked + label {
  background: #dc143c;
  color: #ffffff;
}

.slide {
  visibility: hidden;
}

.slide-image {
  margin-top: 1px;
  padding-left: 5px;
}

.V-slide {}
.H-slide {}
